<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error <%= errorCode %></title>

    <link rel="stylesheet" href="/public/css/error/styles.css" type="text/css">
    <script src="/public/js/error/script.js" type="text/javascript"></script>
</head>
<body>
<div class="error-message-container">
    <div id="error-text">Error <%= errorCode %> - <%= errorName %></div>
    <div id="expression-emoji">&#128565</div>
</div>
</body>
</html>