<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./main/head'); %>
    <link rel="stylesheet" href="/public/css/hello/styles.css" type="text/css">
</head>

<body>
<h1>Node.js Express Server - Hello World</h1>

<div class="main-container">
    <h2>Hello, <span><%= username %></span></h2>
</div>
</body>
</html>
