<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./main/head'); %>
    <link rel="stylesheet" href="/public/css/index/styles.css" type="text/css">
</head>
<body>
<h1>Node.js Express Server - Hello World</h1>
<div class="main-container">
    <form action="/send/query">
        <label for="username">Enter your name :</label><br>
        <input type="text" id="username" name="username" placeholder="Enter your name here">
    </form>
</div>
</body>
</html>
